<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Jil" version="2.17.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="protobuf-net" version="2.4.1" targetFramework="net472" />
  <package id="Sigil" version="4.7.0" targetFramework="net472" />
  <package id="StackExchange.Utils.Http.Extensions.NewtonJson" version="0.0.2" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
  <package id="Unofficial.StackExchange.Utils.Http" version="0.3.41" targetFramework="net472" />
</packages>